<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JavaBasics" parallel="classes" thread-count="1" verbose="10">
	<test name="String Operations" verbose="2">
		<classes>
			<class name="com.stringOperation.Test.ReverseStringTest"></class>
			<class name="com.stringOperation.Test.RemoveJunkTest"></class>
			<class name="com.stringOperation.Test.DuplcateCharTest"></class>
			<class name="com.stringOperation.Test.NewTest"></class>
			<class name="com.stringOperation.Test.EqualsTest"></class>
			<class name="com.stringOperation.Test.printDuplicateCountTest"></class>
			<class name="com.stringOperation.Test.sumOfNumberFromString"></class>
			<class name="com.stringOperation.Test.IndexOfAlphabetTest"></class>
		</classes>
	</test>
	
	<test name="Number Operations" verbose="2">
		<classes>
			<class name="com.NumberOperationTest.ReverseIntegerTest"></class>
			<class name="com.NumberOperationTest.PrimeNumberTest"></class>
			<class name="com.NumberOperationTest.DivisorOfNumberTest"></class>
			<class name="com.NumberOperationTest.FibonaciTest"></class>
		</classes>
	</test>
	
</suite>
