<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JavaBasics" parallel="classes">
	<test thread-count="5" name="JavaBasics Test" verbose="2">
		<classes>
			<class name="com.stringOperation.Test.ReverseStringTest"></class>
			<class name="com.stringOperation.Test.RemoveJunkTest"></class>
			<class name="com.stringOperation.Test.DuplcateCharTest"></class>
			<class name="com.stringOperation.Test.NewTest"></class>
		</classes>
	</test>
</suite>
